[submodule "lib/git"]
	path = lib/git
	url = https://github.com/git/git.git
[submodule "lib/tmux-osx-pasteboard"]
	path = lib/tmux-osx-pasteboard
	url = https://github.com/ChrisJohnsen/tmux-MacOSX-pasteboard.git
[submodule "settings/solarized"]
	path = settings/solarized
	url = https://github.com/altercation/solarized.git
[submodule "lib/mutt-colors-solarized"]
	path = lib/mutt-colors-solarized
	url = git://github.com/altercation/mutt-colors-solarized.git
;[submodule "vim/vim/bundle/Vundle.vim"]
	;path = vim/vim/bundle/Vundle.vim
	;url = https://github.com/VundleVim/Vundle.vim.git
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "lib/make-chrome-app"]
	path = lib/make-chrome-app
	url = https://gist.github.com/8284acbd2517a7c34af6.git
[submodule "antigen"]
	path = antigen
	url = https://github.com/zsh-users/antigen.git
	branch = master
[submodule "oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
	branch = master
